*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 1000px;
    background-color: aqua;
}

.main{
    width: 100%;
    height: 1000px;
    background-color: #C0B8A6;
}

.g1 img{
    width: 100%;
    height: 1000px;
}

.a h1{
    position: relative;
    text-align: center;
    top: 220px;
}

.b h1{
    position: relative;
    text-align: center;
    top: 120px;
}

.c h1{
    position: relative;
    text-align: center;
    top: 250px;
    font-size: 70px;
}

.d h3{
    position: relative;
    top: 250px;
    left: 650px;
    font-size: 25px;
}
.e h1{
    position: relative;
    top: 210px;
    left: 722px;
    font-size: 60px;
}

.garis{
    width: 230px;
    height: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    top: 295px;
    left: 28%;
}

.garis h1{
    position: relative;
    top: 10px;
    left: 60px;
}

.garis2{
    width: 230px;
    height: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    top: 231px;
    left: 57%;
}

.garis2 h1{
    position: relative;
    top: 10px;
    left: 60px;
}

.ta h1{
    font-size: 100px;
    position: relative;
    top: 150px;
    text-align: center;

}

.tu h1{
    font-size: 40px;
    position: relative;
    top: 150px;
    text-align: center;
}

.te h2{
    position: relative;
    text-align: center;
    top: 200px;
}

.al p{
    font-size: 25px;
    position: relative;
    text-align: center;
    top: 220px;
    
}

.al2 p{
    font-size: 25px;
    position: relative;
    text-align: center;
    top: 225px;
}

.penutup p{
    font-size: 22px;
    position: relative;
    text-align: center;
    top: 245px;
}

.penutup2 p{
    font-size: 22px;
    position: relative;
    text-align: center;
    top: 247px;
}